.table thead th {
  border-bottom: 0;
  padding: 20px 0;
}

.table td,
.table th {
  border-top: 0;
}

thead {
  background: #3b548c;
  padding: 20px 0px;
}

thead tr th {
  color: #ffffff;
  padding: 0;

}

.table td,
.table th {
  padding: 0;
}

.table {
  margin: 0;
  margin-bottom: 15px;
  border: 1px solid #efefef;
}

.table tbody tr th {
  padding-top: 15px;
}

.table td {
  padding: 25px 0 20px;
}

tbody tr td ul {
  padding-left: 0px;
}

tbody tr td ul li {
  list-style: none;
}

tbody tr:nth-child(2n+2) {
  background: #f8f8fa;
}

tbody tr td ul li a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  padding-left: 10px;
}

tbody tr td ul li a:hover {
  color: unset;
  text-decoration: none;
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
  padding-left: 15px;
}

.top-strip .events-notification ul {
  padding: 0;
  margin: 0;
}

.top-strip .events-notification ul li p {
  margin: 0;
}

.top-strip .events-notification ul li span {
  background: #1b97fb;
  width: 29px;
  height: 22px;
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 22px;
  margin-left: 8px;
}

.top-strip {
  padding: 20px 0 15px;

}

.top-strip .events-notification ul li {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}

.top-strip .date-fltr form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.top-strip .date-fltr form .form-group {
  margin-bottom: 0;
  margin-right: 20px;
}



.top-strip .date-fltr form .form-group .form-control {
  padding: 10px;
  border: 1px solid #ececec;
  color: #d5d5d5;
  border-radius: 3px;
  background: url(../images/calender.png)no-repeat 98%;
}

.top-strip .date-fltr form button {
  background: #3e528d;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
  border: 0;
  cursor: pointer;
}

@media only screen and (max-width:1366px) {
  .top-strip .date-fltr form .form-group {
    margin-right: 10px;
  }

  .top-strip .events-notification ul li {
    padding-right: 20px;
  }
}

@media only screen and (max-width:1199px) {
  .top-strip .date-fltr form .form-group {
    margin-right: 10px;
  }

  .top-strip .events-notification ul li {
    padding-right: 5px;
  }

  .top-strip .events-notification ul li p {
    font-size: 14px;
  }

  .top-strip .events-notification ul li span {
    margin-left: 5px;
  }

  .top-strip .date-fltr form .form-group .form-control {
    width: 145px;
    font-size: 15px;
  }

  .top-strip .date-fltr form button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

@media only screen and (max-width:991px) {
  .top-strip .events-notification ul li {
    display: block;
    padding-top: 5px;
  }

  .top-strip .container-fluid .row {
    align-items: flex-start !important;
  }

  .top-strip .date-fltr form {
    display: block;
  }

  .top-strip .date-fltr form .form-group .form-control {
    width: 100%;

  }

  .top-strip .date-fltr form .form-group {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width:767px) {
  .table-responsive {
    min-width: 767px;
  }

  .table-wrapper {
    overflow: hidden;
    overflow-x: scroll;
  }

  .top-strip .events-notification {
    padding-bottom: 10px;
  }
}